
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}
header{
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 200px;
}
nav{
  display: flex;
}